*{
   box-sizing: border-box;
    color: rgb(161, 77, 240);

}


body{
    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
}

header{
    color: rgb(161, 77, 240);
    text-align: center;
    font-size: 60px;
    padding: 60px;
}

.mainbox {
    margin: auto;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 2, 59);
    border-radius: 8px;
    max-width: 800;
    max-height: 80%;
    height: 60vh;
    width: 800px;
    padding-bottom: 30px;
    
}

.answer-buttons{
    font-size: 38px;
    background-color:rgb(161, 77, 240) ;
    color: white;
    border-radius: 5px;
    display: block;
    transition-duration: 0.4s;
    
   }

button{
    font-size: 50px;
    border-radius: 5px;
    padding: 14px 40px;
   
}
.answer-buttons:hover{
    background-color: white;
    color:rgb(161, 77, 240);
}


#next{
    text-align: center;
    transition-duration: 0.4s;
  
    
}
#next:hover{
    background-color:rgb(161, 77, 240) ;
    color:white;
}
#start:hover{
    background-color:rgb(161, 77, 240) ;
    color:white;
}
#start {
    transition-duration: 0.4s
}

.counter{
    border: 3px solid white;
    margin: 20px auto;
    width: 200px;
    font-size: 46px;
    color: white ;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;

}
#questions{
    font-weight: bold;
    text-align: center;
}
.right{
    background-color: green;
}
.wrong{
    background-color: red;
}
.end{
    
    background: rgb(2, 2, 59);
    margin: auto;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 800;
    max-height: 80%;
    height: 60vh;
    width: 800px;
    padding-bottom: 30px;
}
#save-btn :hover{
    background-color:rgb(161, 77, 240);
    color:white;
}
#save-btn{
    transition-duration: 0.4s;
}

.hide {
    display: none;
}

.show {
    display: block;
}